.angular-config.json
.anyconnect
.archey-ip
.bash_history
.bash_profile
.bash_sessions/
.cache/
.CFUserTextEncoding
.cisco/
.conda/
.config/
.cups/
.docker/
.dropbox/
.DS_Store
.fontconfig/
.gem/
.gitconfig
.gitignore
.iterm2_shell_integration.bash
.iterm2_shell_integration.tcsh
.iterm2_shell_integration.zsh
.iterm2/
.lesshst
.local/
.login
.mapscii/
.node-gyp/
.npm/
.nvm/
.profile
.python_history
.sh_history
.ssh/authorized_keys
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.ssh/known_hosts.old
.swo
.tcsh_history
.textadept/keys.lua
.textadept/lexers/
.textadept/modules/
.textadept/session*
.tldrc/
.Trash
.vagrant.d/
.zcompdump
.viminfo
.vscode-oss/
.Xauthority
.zenmap/
.zsh_history

Applications
Desktop
Docker
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Virtual Machines.localized
Web
